<footer class="main-footer">
<div class="footer-content">
	<div class="container">
		<div class="main-footer-logo">
			<a href="{{ site.link }}">
				<img src="{{ site.theme.link }}/assets/images/logo-footer.png" alt="">
			</a>
		</div>
		<div class="main-footer-info">
			<div class="main-footer-info-item">
				<div class="main-footer-info-name">Бесплатная консультация</div>
				<a href="" class="main-footer-info-phone">+7 (495) 633-72-90</a>
			</div>
			<div class="main-footer-info-item">
				<div class="main-footer-info-name">Напишите нам:</div>
				<a href="" class="main-footer-info-email">info@mail.ru</a>
			</div>
		</div>
		<div class="main-footer-menu">
			<div class="main-footer-menu-item">
				<div class="main-footer-menu-name">О компании</div>
				<ul>
					<li><a href="">О нас</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">Работа у нас</a></li>
				</ul>
			</div>
			<div class="main-footer-menu-item">
				<div class="main-footer-menu-name">Партнёры</div>
				<ul>
					<li><a href="">Условия работы</a></li>
					<li><a href="">Как купить</a></li>
					<li><a href="">Оплата</a></li>
					<li><a href="">Доставка</a></li>
				</ul>
			</div>
			<div class="main-footer-menu-item">
				<div class="main-footer-menu-name">Информация</div>
				<ul>
					<li><a href="">Сертификаты</a></li>
					<li><a href="">Онлайн брафитинг</a></li>
					<li><a href="">Обмен и возврат</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="under-footer">
	<div class="container">
		<div class="copyright">© 2020 Стиль & Шарм</div>
		<div class="under-footer-link"><a href="">Карта сайта</a></div>
		<div class="under-footer-link"><a href="">Политика конфеденциальности</a></div>
		<div class="under-footer-link"><a href="">Сайт разработан студией IS ART</a></div>
	</div>
</div>
<div class="overlay"></div>
</footer>
</div>

{{ function('wp_footer') }}
</body>

</html>