{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="archive-product-block">
		<div class="container">
			<div class="archive-product-sidebar">
				<div class="sidebar-menu-item">
					<div class="sidebar-menu-item-name">Нижнее белье</div>
					<ul class="sidebar-menu-content">
						<li><a href="">Бюсгалтеры</a></li>
						<li class="current-menu-item"><a href="">Трусики</a></li>
						<li><a href="">Боди, грации, корсеты</a></li>
						<li><a href="">Корректирующее белье</a></li>
					</ul>
				</div>
				<div class="sidebar-menu-item">
					<div class="sidebar-menu-item-name">Одежда для сна и отдыха</div>
					<ul class="sidebar-menu-content">
						<li><a href="">Пижамы и сорочки</a></li>
						<li><a href="">Халаты</a></li>
						<li><a href="">Боди</a></li>
					</ul>
				</div>
				<div class="sidebar-menu-item">
					<div class="sidebar-menu-item-name">Пляж</div>
					<ul class="sidebar-menu-content">
						<li><a href="">Раздельные купальники</a></li>
						<li><a href="">Слитные купальники</a></li>
						<li><a href="">Пляжная одежда</a></li>
					</ul>
				</div>
				<div class="sidebar-menu-item">
					<div class="sidebar-menu-item-name">Аксессуары</div>
					<ul class="sidebar-menu-content">
						<li><a href="">Аксессуары для белья</a></li>
						<li><a href="">Колготки</a></li>
						<li><a href="">Подвязки</a></li>
						<li><a href="">Чулки и пояса</a></li>
					</ul>
				</div>
			</div>
			<div class="archive-products-main">
				<nav class="woocommerce-breadcrumb"><a href="">Главная</a>&nbsp;/&nbsp;<a href="">Каталог</a>&nbsp;/&nbsp;Трусики</nav>
				<div class="all-page-title">
					<h1>Трусики</h1>
				</div>
				<div class="products-filter"></div>
				<div class="archive-products-content">
					{% for item in 0..15 %}
					<a class="products-item-link" href="">
						<div class="products-item-image">
							<img src="./assets/images/prod-thmb.jpg" alt="">
							<div class="sale-tag">15%</div>
						</div>
						<div class="product-item-name"><h4>EUROBRA - ТРУСЫ 311</h4></div>
						<div class="products-item-price">1300 <img src="./assets/images/rub.png" alt=""></div>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}