{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="archive-product-block">
		<div class="container">
			{% include "partials/sidebar-menu.twig" %}
			<div class="archive-products-main">
				{{ function('woocommerce_breadcrumb') }}
				<div class="all-page-title">
					<h1>Трусики</h1>
				</div>
				<v-app>
					<div class="products-filter">
						<div class="products-filter-item">
							<div class="products-filter-item-name">Цвет</div>
							<div class="products-filter-item-content" id="combobox-color">
								<v-select
									:items="sortItems"
									label="Сортировка"
									item-text="label"
									item-value="value"
									attach="#combobox-color"
									solo
									v-model="sort"
			{# 						v-on:change="applyFilter('catalogSort', $event)" #}
								></v-select>
							</div>
						</div>

						<div class="products-filter-item">
							<div class="products-filter-item-name">Размер</div>
							<div class="products-filter-item-content" id="combobox-size">
								<v-select
									:items="sortItems"
									label="Сортировка"
									item-text="label"
									item-value="value"
									attach="#combobox-size"
									solo
									v-model="sort"
			{# 						v-on:change="applyFilter('catalogSort', $event)" #}
								></v-select>
							</div>
						</div>

						<div class="products-filter-item">
							<div class="products-filter-item-name">Посадка</div>
							<div class="products-filter-item-content" id="combobox-pos">
								<v-select
									:items="sortItems"
									label="Сортировка"
									item-text="label"
									item-value="value"
									attach="#combobox-pos"
									solo
									v-model="sort"
			{# 						v-on:change="applyFilter('catalogSort', $event)" #}
								></v-select>
							</div>
						</div>

						<div class="products-filter-item">
							<div class="products-filter-item-name">Покрой</div>
							<div class="products-filter-item-content" id="combobox-kr">
								<v-select
									:items="sortItems"
									label="Сортировка"
									item-text="label"
									item-value="value"
									attach="#combobox-kr"
									solo
									v-model="sort"
			{# 						v-on:change="applyFilter('catalogSort', $event)" #}
								></v-select>
							</div>
						</div>

						<div class="products-filter-item">
							<div class="products-filter-item-name">Производитель</div>
							<div class="products-filter-item-content" id="combobox-manufacture">
								<v-select
									:items="sortItems"
									label="Сортировка"
									item-text="label"
									item-value="value"
									attach="#combobox-manufacture"
									solo
									v-model="sort"
			{# 						v-on:change="applyFilter('catalogSort', $event)" #}
								></v-select>
							</div>
						</div>
					</div>
				</v-app>
				<div class="archive-products-content">
					{% for item in 0..15 %}
					<a class="products-item-link" href="{{ site.link }}/product/%d1%82%d0%be%d0%b2%d0%b0%d1%80/">
						<div class="products-item-image">
							<img src="{{ site.theme.link }}/assets/images/prod-thmb.jpg" alt="">
							<div class="sale-tag">15%</div>
						</div>
						<div class="product-item-name"><h4>EUROBRA - ТРУСЫ 311</h4></div>
						<div class="products-item-price">1300 <img src="{{ site.theme.link }}/assets/images/rub.png" alt=""></div>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}