@import 'base/normalize';
@import 'vendors/slick.scss';
@import 'vendors/slick-theme.scss';
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
input, select, button, textarea, a{
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

table.cart .product-price {
    font-size: 16px;
}

.slick-slide {
    height: auto;
}

.slick-slide{
    outline: none!important;
}


.woocommerce-ordering select {
    margin: 0px 4px 0px 0;
    font-size: 12px;
    color: #000 !important;
    border: 1px solid #2d2d2d;
    width: 100%;
    height: 33px;
    padding: 0 10px;
    text-overflow: ellipsis;
}

.main-content{
    
}
.bapf_sfilter {
    font-size: 14px;
    margin-bottom: 0;
}
.bapf_ccolaps {
    position: relative;
}

.bapf_head.bapf_colaps_togl {
    border: 1px solid #2d2d2d;
    padding: 8px 5px 2px 5px;
    cursor: pointer;
}

.bapf_ccolaps .bapf_body {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #000;
    height: 130px;
    width: 100%;
    left: 0;
    overflow: auto;
    padding: 0 4px 0 10px;
}
.bapf_colaps_smb.fa:before {
    content: "\f078";
}
.products-filter-item form.woocommerce-ordering {
    width: 100%;
}
.woocommerce .woocommerce-ordering select {
    background-image: url(../images/down-arrow-of-angle.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;
    background-size: 14px;
}
.irs--square .irs-handle {
    top: 27px;
    width: 12px;
    height: 12px;
    border: 2px solid #555;
    transform: rotate(0deg);
    cursor: pointer;
}
.irs--square .irs-bar {
    background-color: #555;
    cursor: pointer;
}
.irs-from, .irs-single, .irs-to {
    top: 6px;
}
.irs--square .irs-from, .irs--square .irs-single, .irs--square .irs-to {
    background-color: #555;
    font-size: 12px;
}
.irs--square {
    height: 39px;
}
.bapf_ccolaps .bapf_body::-webkit-scrollbar {
  width: 3px;        
}

.bapf_ccolaps .bapf_body::-webkit-scrollbar-track {
  background-color: #fff;  
}

.bapf_ccolaps .bapf_body::-webkit-scrollbar-thumb {
  background-color: #555;  
  border-radius: 20px;      
  border: 1px solid #555;  
}
.bapf_ccolaps .bapf_body ul li {
    margin: 5px 0 !important;
    font-size: 0;
}
.bapf_ckbox_square input[type=checkbox] {
    width: 15px;
    height: 15px;
    padding: 2px;
}
.bapf_ccolaps .bapf_body ul li label {
    width: calc(100% - 20px);
    font-size: 12px;
}
h3.bapf_hascolarr {
    font-size: 12px;
    font-weight: 400;
    color: #3f3f3c;
    margin-bottom: 8px;
    padding-left: 8px;
}

.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container-2{
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.all-page-title{
    margin-bottom: 20px;
}
.all-page-title h1 {
    font-size: 26px;
    color: #050504;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.archive-product-block {
    padding: 28px 0 50px;
    font-size: 0;
}
.archive-product-block .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.archive-product-sidebar{
    width: 255px;
}
.sidebar-menu-item{
    margin-bottom: 9px;
}
.sidebar-menu-item-name {
    font-size: 15px;
    color: #050504;
    background-color: #f4f4f4;
    padding: 7px 17px;
    margin-bottom: 8px;
    display: flex;
}
ul.sidebar-menu-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.sidebar-menu-content li a {
    font-size: 14px;
    color: #050504;
    border: 1px solid transparent;
    display: inline-block;
    padding: 7px 16px;
    background: linear-gradient(to right, #9f8864, #9f8864 50%, #050504 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
ul.sidebar-menu-content li a:hover {
    background-position: 0 100%;
    color: #9f8864;
}
ul.sidebar-menu-content li.current-menu-item a{
    color: #9f8864;
    border-color: #9f8864;
    background-position: 0 100%;
}
.archive-products-main{
    width: calc(100% - 280px);
}

nav.woocommerce-breadcrumb {
    margin-bottom: 14px!important;
    font-size: 12px!important;
    color: #acacac!important;
}
nav.woocommerce-breadcrumb a {
    color: #898989;
    font-size: 12px;
}
.v-application {
    display: block;
}
.products-filter {
    width: 100%;
    border: 1px solid #c4c4c4;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
    padding: 15px 12px 12px;
    align-items: end;
}
.products-filter-item:first-child .bapf_head h3,
.products-filter-item-name {
    font-size: 14px;
    font-weight: 600;
    color: #3f3f3c;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding-left: 8px;
}
.products-filter-item:first-child .bapf_head h3{
    margin-bottom: 2px;
}
.products-filter-item-content {
    position: relative;
}
.v-menu__content {
    top: 100%!important;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
}
.v-select__selection--comma {
    margin: 0px 4px 0px 0;
    font-size: 14px;
    color: #636360!important;
}
.v-text-field.v-text-field--solo .v-input__control {
    min-height: 32px;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none;
    border: 1px solid #2d2d2d;
    border-radius: 0;
}
.archive-products-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 44px 30px;
}
.archive-products-content .products-item-link{
    padding: 0;
}
.products-item-image {
    position: relative;
    padding: 0 0 100% 0;
    margin-bottom: 12px;
}
.products-item-image img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products-item-image .sale-tag {
    background-color: #000;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 49px;
    text-align: center;
    padding: 9px 0;
}
.product-item-name{
    margin-bottom: 8px;
}
.product-item-name h4 {
    margin: 0;
    font-size: 13px;
    color: #303030;
    font-weight: 400;
    transition: 0.3s ease;
}
a.products-item-link:hover .product-item-name h4 {
    color: #a99575;
}
.products-item-price{
    font-size: 15px;
    color: #303030;
}
.products-item-price img {
    display: inline;
}
.single-product-bottom-slider{
    padding: 40px 0;
    border-top: 1px solid #c4c4c4;
}
.single-product-bottom-slider-name {
    font-size: 28px;
    font-weight: 600;
    color: #050504;
    text-transform: uppercase;
    margin-bottom: 35px;
    padding-left: 20px;
}
.single-product-top {
    display: grid;
    grid-template-columns: calc(100% - 499px) 459px;
    grid-gap: 40px;
    padding-bottom: 50px;
}
.product-info-top p {
    font-size: 14px;
    color: #171717;
    margin: 0 0 10px 0;
}
.product-info-middle {
    background-color: #f3f3f3;
    padding: 18px 12px 8px 12px;
    margin-bottom: 14px;
}
.product-info-middle p{
    font-size: 14px;
    color: #171717;
    margin: 0 0 10px 0;
}
.add-to-cart-column {
    font-size: 12px;
    color: #171717;
    padding: 7px 0;
}
.add-to-cart-header .add-to-cart-column{
    font-size: 14px;
    padding: 14px 0;
}
.add-to-cart-header {
    display: grid;
    grid-template-columns: 65px 70px 120px 166px;
    grid-gap: 5px;
    padding: 0 5px 0 14px;
    border: 1px solid #c4c4c4;
    align-items: center;
}
.add-to-cart-column:nth-child(2),
.add-to-cart-column:nth-child(3){
    text-align: center;
}
.add-to-cart-row .add-to-cart-column:nth-child(2) {
    text-transform: uppercase;
}
.add-to-cart-row {
    display: grid;
    grid-template-columns: 65px 70px 120px 166px;
    grid-gap: 5px;
    padding: 0 5px 0 14px;
    border: 1px solid #c4c4c4;
    margin-top: -1px;
    align-items: center;
}
.add-to-cart-column:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.add-card-quantity {
    width: 87px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #c4c4c4;
    margin-right: 5px;
}


.add-card-quantity input {
    width: 37px;
    border: none;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    color: #000000;
    padding: 6px 0px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}

.add-card-quantity input::-webkit-outer-spin-button,
.add-card-quantity input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.add-card-quantity button {
    width: 24px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: 0.3s ease;
}

.add-card-quantity button:hover {
    background-color: #a99575;
}

a.add-to-cart {
    background-color: #402b56;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    padding: 6px 5px;
    width: calc(100% - 92px);
    text-align: center;
    border: 1px solid #402b56;
    transition: 0.3s ease;
}
a.add-to-cart:hover {
    background-color: #000000;
    border-color: #000000;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
    max-width: 100%;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
    max-width: 100%;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: 1px solid #000;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
    max-width: 100%;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    border: 1px solid #000;
    font-size: 16px;
    color: #000;
    padding: 10px;
}

p.woocommerce-LostPassword.lost_password a {
    color: #000;
    font-size: 13px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    float: left;
    margin-right: 1em;
    border-radius: 0;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: 0.3s ease;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: #000;
    text-decoration: none;
    background-image: none;
    color: #fff;
    border: 1px solid #000;
}
li.woocommerce-MyAccount-navigation-link {
    text-align: left;
    margin: 10px 0px;
}
li.woocommerce-MyAccount-navigation-link a {
    color: #000;
}
.woocommerce-MyAccount-content p {
    margin-bottom: 20px;
    line-height: 1.5;
}
.woocommerce-MyAccount-content p a {
    color: #959595;
}

td.product-name a {
    color: #000;
}

.cart_totals h2 {
    text-align: left;
    margin-bottom: 10px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #000;
    color: #fff;
}

.favorite-content {
    padding: 0 15px 75px 15px;
}
button.button.button--favorites-clear {
    color: #fff;
    background-color: #e4252a;
    padding: 10px 20px;
    font-size: 14px;
}
.nav-links {
    display: flex;
    font-size: 16px;
    list-style: none;
    align-items: center;
    margin-top: 30px;
}
.nav-links .page-numbers {
    margin: 0 3px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}
/*span.page-numbers.current {
    margin: 0 3px;
}*/

.product-price {
    font-size: 30px;
    margin-bottom: 15px;
}

.partners-slick .slick-track {
    display: flex;
}
.partners-slick .slick-track .slick-slide {
    height: auto;
}
.partners-slick-content {
    padding: 10px;
}
.partners-slick-content a {
    display: block;
    height: 100%;
    width: 100%;
}
.partners-slick-content a img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.brends-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 15px;
    padding: 20px 0 50px;
}
a.brend-item {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #555;
    padding: 5px;
}
a.brend-item img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.contacts-page-block {
    padding: 45px 0;
}
.contacts-page-buttons{
    border-bottom: 1px solid #d0d0d0;
}
.contacts-page-buttons .choice-button {
    font-size: 24px;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}
.contacts-page-buttons .choice-button.active{
    border-color: #000
}
.contacts-page-content {
    padding-top: 35px;
}
.contacts-page-content-inner {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.contacts-page-content-inner.visible {
    visibility: visible;
    height: auto;
    opacity: 1;
}

.contacts-page-items {
    max-width: 740px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts-page-items-left {
    width: 50%;
}
.contacts-page-item {
    margin-bottom: 25px;
}
.contacts-page-item-name {
    font-size: 16px;
    color: #979797;
    margin-bottom: 7px;
}
.contacts-page-items-left .contacts-page-item-name {
    padding-left: 23px;
}
.contacts-page-item-address {
    font-size: 16px;
    color: #000;
}

.contacts-page-item-address:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 14px;
    background-image: url(../images/marker.png);
    margin-right: 12px;
    margin-top: 4px;
}

.contacts-page-item-address span {
    width: calc(100% - 22px);
    display: inline-block;
    vertical-align: top;
    line-height: 1.375;
}

.contacts-page-phone a {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.375;
    background-image: url(../images/phone.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 13px;
    padding-left: 23px;
}

.contacts-page-phone a span {
    font-weight: 400;
}

.contacts-page-wa a {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.375;
    background-image: url(../images/whatsapp.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 13px;
    padding-left: 23px;
}

.contacts-page-email a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    background-image: url(../images/envelope.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 13px;
    padding-left: 23px;
}

.contacts-page-item p {
    font-size: 16px;
    color: #000;
    line-height: 1.375;
}
.contacts-page-map {
    margin-top: 40px;
}

.contacts-page-form-name {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 18px;
}

.contacts-page-form form {
    max-width: 885px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
}
.contacts-form-left {
    width: calc(100% - 297px);
}
.contacts-form-left textarea {
    height: 165px;
    border: 1px solid #c4c4c4;
    resize: none;
    width: 100%;
    padding: 20px 0 0 22px;
    font-size: 14px;
}
.contacts-form-right {
    width: 290px;
}

.news-archive-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 55px;
}

.news-archive-item-img {
    width: 320px;
    margin-right: 60px;
}

.news-archive-item-info {
    width: calc(100% - 380px);
}
.news-archive-item-name{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 24px;
}
.news-archive-item-name h4 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  
}
.news-archive-item-text {
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.714;
  margin-bottom: 25px;
}
.news-archive-item-link a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #acacac;
    display: inline-block;
    text-decoration: none;
    padding: 13px 36px;
    transition: 0.3s ease;
}

.news-archive-item-link a:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.page-content--default {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-content--default h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px
}
.page-content--default h3{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-content--default p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.714;
    margin-bottom: 30px;
}
.page-content--default ul{
    list-style-image: url(../images/list.png);
    padding-left: 20px;
    margin-bottom: 30px;
}
.page-content--default ul li{
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}
.page-content--default ul li a,
.page-content--default p a {
    font-size: 14px;
    color: #727272;
}

@import 'pages/home';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'media-requests';